{% extends 'home/base.html' %}

{% block body_block %}
<section class="section">
{% if validlink %}
<!--form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change password</button>
</form-->

<form method="POST" action="">
    {% csrf_token %}
    <div class="container">
        
        <div class="columns">
            <div class="column is-4 is-offset-4">
                <div class="card has-text-centered">
                    <header class="card-header has-background-link">

                            <p class="card-header-title is-centered has-text-white">
                                Reset The password
                            </p>

                    </header>
                    <div class="card-content">
                        <div class="field">
                            <p class="control has-icons-left">
                              
                              <input type="password" class="input" name="new_password1" maxlength="150" autofocus="" required="" id="id_new_password1" placeholder="New Password">
                              <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                              </span>
                            </p>
                          </div>

                          <div class="field">
                            <p class="control has-icons-left">
                              
                              <input type="password" class="input" name="new_password2" maxlength="150" autofocus="" required="" id="id_new_password2" placeholder="New Confirm Password">
                              <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                              </span>
                            </p>
                          </div>

                          <input type="submit" class="button is-link is-outlined is-centered is-small">



                        {% if errors %}
                        <article class="message is-danger">
                            <div class="message-body">
                                {% for error in errors %}
                                <div class="alert alert-danger" role="alert">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </article>
                        {% endif %}

                        {% if messages %}
                        {% for message in messages %}
                        <article class="message is-success">
                          <div class="message-body">
                          <div class="alert alert-success" role="alert">{{ message }}</div>
                        </div>
                        </article>
                        {% endfor %}
                        {% endif %}
                        
                        <br><br>
                        {% if form.errors %}
                        <article class="message is-danger">
                            <div class="message-body">
                                <div class="inner">
                                    <ul>
                                        {% for field in form %}
                                        {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </article>
                        {% endif %}
                    </div>
                    <footer class="card-footer has-background-link-light">
                    </footer>
                </div>
            </div>

        <!--div class="row align-items-center mt-5">
            <div class="col-10 col-md-5   mx-auto">
                <div class="card shadow border text-bg-info">
                    <div class="card-header text-center">
                        Change Password
                    </div>
                    <div class="card-body d-flex flex-column align-items-center">
                    <div class="input-group mb-3">
                        <span class="input-group-text btn btn-warning" id="basic-addon5"><i class="fa-solid fa-key"></i></span>
                        <input type="password" class="form-control" name="new_password1" maxlength="150" autofocus="" required="" id="id_new_password1" placeholder="Password">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text btn btn-warning" id="basic-6"><i class="fa-solid fa-key"></i></span>
                        <input type="password" class="form-control" name="new_password2" maxlength="150" autofocus="" required="" id="id_new_password2" placeholder="Confirm Password">
                    </div>
                    <input type="submit" class="btn btn-sm btn-primary">
                </div>
                <div class="card-footer text-center">
                    {% if form.errors %}

                    <div id="errors" class="alert alert-danger">
                        <div class="inner">
                            <ul>
                                {% for field in form %}
                                {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    {% endif %}
                </div>
                </div>
            </div>
        </div-->
    </div>
    </div>
</form>


{% else %}
<p>
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset by clicking <a href="{% url 'password_reset' %}">Password Reset</a> Link
</p>
{% endif %}

</section>
{% endblock %}