{% extends 'home/base.html' %}

{% block body_block %}
<section class="section">
<div class="container">

    <div class="columns">
        <div class="column is-4 is-offset-4">
            <div class="card has-text-centered">
                <header class="card-header has-background-link">

                        <p class="card-header-title is-centered has-text-white">
                            Password Reset Done
                        </p>

                </header>
                <div class="card-content">
                    <p>
                        We've emailed you instructions for setting your password, if an account exists with the email you entered.
                        You should receive them shortly.
                    </p>
                    <p>
                        If you don't receive an email, please make sure you've entered the address you registered with,
                        and check your spam folder.
                    </p>
                </div>
                <footer class="card-footer has-background-link-light">

                    {% if errors %}
                    <article class="message is-danger">
                        <div class="message-body">
                            {% for error in errors %}
                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </article>
                    {% endif %}
                </footer>
            </div>
        </div>
    </div>


</div>
</section>
{% endblock %}