{% extends 'home/base.html' %}

{% block body_block %}
<div class="container">
    <div class="row align-items-center mt-5">
        <div class="col-10 col-md-5   mx-auto">
            <div class="card shadow border text-bg-info">
                <div class="card-header text-center">
                    Password Reset Done
                </div>
                <div class="card-body d-flex flex-column align-items-center">
                    <p>
                        We've emailed you instructions for setting your password, if an account exists with the email you entered.
                        You should receive them shortly.
                    </p>
                    <p>
                        If you don't receive an email, please make sure you've entered the address you registered with,
                        and check your spam folder.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}