{% extends 'home/base.html' %}

{% block body_block %}
{% if validlink %}
<!--form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change password</button>
</form-->

<form method="POST" action="">
    {% csrf_token %}
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-10 col-md-5   mx-auto">
                <div class="card shadow border text-bg-info">
                    <div class="card-header text-center">
                        Change Password
                    </div>
                    <div class="card-body d-flex flex-column align-items-center">
                    <div class="input-group mb-3">
                        <span class="input-group-text btn btn-warning" id="basic-addon5"><i class="fa-solid fa-key"></i></span>
                        <input type="password" class="form-control" name="new_password1" maxlength="150" autofocus="" required="" id="id_new_password1" placeholder="Password">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text btn btn-warning" id="basic-6"><i class="fa-solid fa-key"></i></span>
                        <input type="password" class="form-control" name="new_password2" maxlength="150" autofocus="" required="" id="id_new_password2" placeholder="Confirm Password">
                    </div>
                    <input type="submit" class="btn btn-sm btn-primary">
                </div>
                <div class="card-footer text-center">
                    {% if form.errors %}
                    <!-- Error messaging -->
                    <div id="errors" class="alert alert-danger">
                        <div class="inner">
                            <ul>
                                {% for field in form %}
                                {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /Error messaging -->
                    {% endif %}
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>


{% else %}
<p>
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
</p>
{% endif %}


{% endblock %}