{% extends 'home/base.html' %}
 {% block title_block %}
        <title>This is home page</title>
    {% endblock title_block %}

    {% block body_block %}
    <form method="POST" action="">
        {% csrf_token %}
        <div class="container">
            <div class="row align-items-center mt-5">
                <div class="col-10 col-md-5   mx-auto">
                    <div class="card shadow border text-bg-info">
                        <div class="card-header text-center">
                            User Registration
                        </div>
                        <div class="card-body d-flex flex-column align-items-center">
                            <div class="input-group mb-3">
                              <span class="input-group-text btn btn-warning" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                              <input type="text" class="form-control" name="username" maxlength="150" autofocus="" required="" id="id_username" placeholder="username">
                            </div>
                            <div class="input-group mb-3">
                              <span class="input-group-text btn btn-warning" id="basic-addon2"><i class="fa-solid fa-user"></i></span>
                              <input type="text" class="form-control" name="first_name" maxlength="150" autofocus="" required="" id="id_first_name" placeholder="First Name">
                            </div>
                            <div class="input-group mb-3">
                              <span class="input-group-text btn btn-warning" id="basic-addon3"><i class="fa-solid fa-user"></i></span>
                               <input type="text" class="form-control" name="last_name" maxlength="150" autofocus="" required="" id="id_last_name" placeholder="Last Name">
                            </div>
                            <div class="input-group mb-3">
                              <span class="input-group-text btn btn-warning" id="basic-addon4"><i class="fa-solid fa-envelope"></i></span>
                               <input type="text" class="form-control" name="email" maxlength="150" autofocus="" required="" id="id_email" placeholder="Email Address">
                            </div>
                            <div class="input-group mb-3">
                              <span class="input-group-text btn btn-warning" id="basic-addon5"><i class="fa-solid fa-key"></i></span>
                                <input type="password" class="form-control" name="password1" maxlength="150" autofocus="" required="" id="id_password1" placeholder="Password">
                            </div>
                            <div class="input-group mb-3">
                              <span class="input-group-text btn btn-warning" id="basic-6"><i class="fa-solid fa-key"></i></span>
                                <input type="password" class="form-control" name="password2" maxlength="150" autofocus="" required="" id="id_password2" placeholder="Confirm Password">
                            </div>


                            <input type="submit" class="btn btn-sm btn-primary">
                        </div>
                        <div class="card-footer text-center">
                            Already have an acccount? <a href="{% url 'login' %}">Login</a>
                        </div>
                        {% if errors %}

                        <div class="alert alert-danger ml-2" role="alert">
                            {% for error in errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </div>
                        {% endif %}
                        
                        {% if messages %}
                          {% for message in messages %}
                            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </div>
                          {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
   </form>


    {% endblock body_block %}