{% extends 'home/base.html' %}
{% block body_block %}

<section> <!-- Section Start-->
    <div class="container"> <!-- Container Start-->
        <div class="columns is-multiline"> <!-- Columns start-->
            <div class="column is-2">
                    <div class="box">
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Units</strong>
                                    <br>
                                    {{ units|floatformat:0 }}
                                </p>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="column is-2">
                <div class="box">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Investment</strong>
                                <br>
                                {{total_inv|floatformat:2}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-2">
                <div class="box">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Returns</strong>
                                <br>
                                {% if xirr > 0 %}
                                <i class="fa-regular fa-circle-up has-text-success"></i>
                                {% else %}
                                <i class="fa-regular fa-circle-down has-text-danger"></i>
                                {% endif %}
                                {{ xirr|floatformat:2 }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-2">
                <div class="box">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Last Price</strong>
                                <br>
                                {{last_price|floatformat:2}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-2">
                <div class="box">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Avg price</strong>
                                <br>
                                {{ avg_price|floatformat:2 }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="column is-2">
                <div class="box">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Dividend</strong>
                                <br>
                                {{ div }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- Columns end-->

        <!-- Table Start-->
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Units</th>
                    <th>Type</th>
                    <th>Txn Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for share in shares %}
                <tr>
                    <td>
                        <a  href="{% url 'update_share' share.id %}">
                            <i class="fa-solid fa-pen has-text-success is-size-7"></i>
                        </a>
                         {{ share.txn_date|date:'m/d/Y' }}
                    </td>
                    <td>{{ share.quantity|floatformat:0 }}</td>
                    <td>{{ share.txn_type }}</td>
                    <td>
                        {{ share.share_price }}
    
                    </td>
                    <td style="text-align:center">
                        <a  href="{% url 'update_share' share.id %}" style="text-align:right">
                            <i class="fa-solid fa-trash has-text-danger is-size-7"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Table End-->
    </div> <!-- Container End-->
</section> <!-- Section End-->



{% endblock %}