{% load static %}
{% block body_block %}

<div class="container is-fluid">
    <form>
        {% csrf_token %}
        <div class="columns is-mobile is-multiline is-centered">
                    <!-- Start Date-->
                    <div class="column is-2-desktop is-6-mobile is-size-7">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                              <label class="label">Start Date</label>
                            </div>
                            <div class="field-body">
                              <div class="field">
                                <p class="control">
                                    <input type="date"  class="input is-size-7" name="start_date" class="form-control" required="" id="id_start_date">
                                </p>
                              </div>
                            </div>
                          </div>
                    </div>
                    <!-- End Date-->
                    <div class="column is-2-desktop is-6-mobile is-size-7">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                              <label class="label">End Date</label>
                            </div>
                            <div class="field-body">
                              <div class="field">
                                <p class="control">
                                    <input type="date"  class="input is-size-7" name="end_date" class="form-control" required="" id="id_end_date">
                                </p>
                              </div>
                            </div>
                        </div>
                    </div>
                    <!--Symbol-->
                    <div class="column is-4-desktop is-6-mobile is-size-7">
                      <div class="field is-horizontal">
                          <div class="field-label is-normal">
                            <label class="label ">Symbol</label>
                          </div>
                          <div class="field-body">
                            <div class="field">
                              <p class="control is-size-7">
                                  <select id="id_symbol_name" name="symbol_name" required class="select is-size-14">
                                      <option value="" selected="">---------------------------------</option>
                                  </select>
                              </p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <!-- Risk-->
                    <div class="column is-2-desktop is-6-mobile is-size-7">
                      <div class="field is-horizontal">
                          <div class="field-label is-normal">
                            <label class="label ">Risk</label>
                          </div>
                          <div class="field-body">
                            <div class="field">
                              <p class="control is-size-7">
                                <div class="select" >
                                  <select id="id_risk_category">
                                    <option value="10">Low</option>
                                    <option value="20">Medium</option>
                                    <option value="50">High</option>
                                  </select>
                                </div>
                              </p>
                            </div>
                          </div>
                        </div>
                    </div>
        </div>
        <!--Submit Button-->
        <div class="has-text-centered">
          <button type="button" class="button is-small is-link" onclick="get_page_data()" id="id-submit">
              Submit
          </button>
        </div>
    </form>
    <br>

<div id="error-notification">
</div>

<div id="inv-test-result" class="inv-result">

       
     
        <nav class="level is-mobile is-hidden-desktop">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading is-size-7-mobile">Symbol</p>
                <p class="title is-size-6-mobile class-symbol">{{symbol}}</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading is-size-7-mobile">Returns (XIRR)</p>
                <p class="title is-size-6-mobile class-xirr">{{ xirr }}</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading is-size-7-mobile">Next Investment Price</p>
                <p class="title is-size-6-mobile class-inv_value">{{ inv_to_proceed|floatformat:2 }}</p>
              </div>
            </div>
        </nav>
 
        <nav class="level is-hidden-touch">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading is-size-7-mobile">Next Investment Price</p>
                <p class="title is-size-7-mobile class-inv_to_proceed">{{ inv_to_proceed|floatformat:2 }}</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading is-size-7-mobile">Returns (XIRR)</p>
                <p class="title is-size-7-mobile class-xirr">{{ xirr }}</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading is-size-7-mobile">Total Investment</p>
                <p class="title is-size-7-mobile class-total_inv">{{ total_inv|floatformat:2 }}</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Symbol</p>
                    <p class="title is-size-7-mobile class-symbol">{{ symbol }}</p>
                </div>
                </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Total Returns</p>
                <p class="title is-size-7-mobile class-total_ret">{{ total_ret|floatformat:2 }}</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
                <div >
                  <p class="heading is-size-7-mobile">Absolute Returns</p>
                  <p class="title is-size-7-mobile class-abs_return"> {{ abs_return|floatformat:2 }}%</p>
                </div>
              </div>
        </nav>

        <br>

        <div class="columns has-text-centered">
          <div class="column ">
            <p class="title is-size-5-mobile" id="id-message">{{msg}}</p>
        </div>
        </div>

        <br>
          <div class="columns">
            <div class="column">
              <div id="chart"></div>
            </div>
            <div class="column">

              <div class="table-responsive-sm">
                  <table class="table table-striped table-bordered table-sm" style="width:100%" id="example">
                      <thead>
                          <tr>
                              <th>Investment Date</th>
                              <th>Invested Amount</th>
                          </tr>
                      </thead>
                      <tbody id="id-table-body">
                          {% for date,price,ma,shares,investment in data %}
                          <tr>
                              <td>{{ date|date:'Y-m-d' }}</td>
                              <td>{{ shares|floatformat:2 }}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>

            </div>
          </div>
</div>
</div>

{% endblock %}

{% block script_block %}
<script type="text/javascript" src="{% static 'cal_returns/calc_return.js' %}"></script>
{% endblock %}