{% extends "cal_returns/base.html" %}
{% block title %}Investment Test{% endblock %}
{% block body %}

<form action="sect_return" method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-6">
            <label for="id_sector">Sector</label>
            {{ form.sector }}
        </div>
        <div class="form-group col-md-4 col-sm-6">
            <label for="id_no_of_shares">no_of_shares</label>
            {{ form.no_of_shares }}
        </div>
        <div class="form-group col-md-4 col-sm-6">
            <label for="multiply">Multiply</label>
            {{ form.multiply }}
        </div>
        <div class="form-group col-md-4 col-sm-6">
            <label for="moving_average">Moving Average</label>
            {{ form.moving_average }}
        </div>
        <div class="form-group col-md-4 col-sm-6">
            <label for="start_date">Start Date</label>
            <input type="date" name="start_date" class="form-control" required="" id="id_start_date">
        </div>
        <div class="form-group col-md-4 col-sm-6">
            <label for="end_date">End Date</label>
            <input type="date" name="end_date" class="form-control" required="" id="id_end_date">
        </div>

        <div class="d-grid gap-4 col-1 mx-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

        <div class="loader" align="center"></div>


        {% if data %}
        <table class="table table-striped table-bordered" style="width:100%" id="example">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Return</th>
                    <th>Next Investment Price</th>
                    <th>Last Traded Date</th>
                    <th>Last Traded Price</th>
                </tr>
            </thead>
            <tbody>
                {% for symbol,returns,price,dt,pr in data %}
                <tr>
                    <td>{{ symbol }}</td>
                    <td>{{ returns }}</td>
                    <td>{{ price|floatformat:2 }}</td>
                    <td>{{ dt }}</td>
                    <td>{{ pr|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% endif %}

    </div>


{% endblock %}