{% extends "cal_returns/base.html" %}
{% block title %}Stock Details{% endblock %}
{% block body %}
<form action="stock_details" method="post">
    {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="id_symbol_name">Symbol</label>
            {{ form.symbol_name }}
        </div>
        <div class="form-group col-md-4">
            <label for="id_start_date">Start Date</label>
            <input type="date" name="start_date" class="form-control" required="" id="id_start_date">
        </div>
        <div class="form-group col-md-4">
            <label for="id_end_date">End Date</label>
            <input type="date" name="end_date" class="form-control" required="" id="id_end_date">
        </div>

        <div class="d-grid gap-4 col-1 mx-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
        <br><br>
<div>
        {% if data %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered" style="width:100%" id="example">
            <thead>
                <tr>
                    <th>Sybol</th>
                    <th>Date</th>
                    <th>Close Price</th>
                </tr>
            </thead>
            <tbody>
                {% for stock,series,date,price in data %}
                <tr>
                    <td>{{ stock }}</td>
                    <td>{{ date|date:'Y-m-d' }}</td>
                    {% if price == min %}
                        <td bgcolor="green">{{ price|floatformat:2 }}</td>
                    {% elif price == max %}
                        <td bgcolor="red">{{ price|floatformat:2 }}</td>
                    {% else %}
                        <td>{{ price|floatformat:2 }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

        {% endif %}

    </div>


{% endblock %}

